.add-card {
  text-align: center;
  width: 20%; /* Adjusted width for responsiveness */
  height: 35%; /* Adjusted height for responsiveness */
  color: white;
  background-color: rgb(37, 104, 158);
  border: thin groove black;
  border-radius: 15px;
  padding-bottom: 10px; /* Adjusted padding for responsiveness */
  position: fixed;
  bottom: 5%;
  left: 5%;
  margin-bottom: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .add-card {
    width: 40%; /* Adjusted width for smaller screens */
    height: 8%; /* Adjusted height for smaller screens */
  }
}

.add-card h1 {
  font-size: x-large;
  padding-top: 1%;
}

input {
  margin-bottom: 3%;
}

.btn-light {
  border-width: thin;
  border-color: rgb(37, 104, 158);
  color: rgb(37, 104, 158);
  font-weight: 500;
}

.btn-light:hover,
.btn-light:focus {
  color: #fff;
  font-weight: bold;
  background-color: rgb(37, 104, 158);
  border-color: black;
  border-width: thin;
}
