/* Base styles */
.collections-list {
  padding-top: 1%;
  margin: 1% auto; /* Center the element horizontally */
  text-align: center;
  width: 100%; /* Adjusted width for responsiveness */
  color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.collections-list h1 {
  font-size: xx-large;
  color: rgb(37, 104, 158);
}

.collections-list ul {
  padding: 0;
  list-style-type: none;
  font-size: large;
  width: 100%;
  color: rgb(37, 104, 158);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li.collections-list-item-active {
  background-color: rgb(203, 241, 253);
  border-radius: 10%;
}

/* Responsive styles using media queries */
@media (min-width: 768px) {
  .collections-list {
    width: 30%; /* Adjusted width for tablets and larger devices */
  }
  .collections-list h1 {
    font-size: x-large;
    color: rgb(37, 104, 158);
  }
}

@media (min-width: 1200px) {
  .collections-list {
    width: 20%; /* Adjusted width for larger screens */
  }
}
