@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  display: flex;
  align-items: left;
  padding-top: 1%;
  margin-left: 1%;
  margin-top: 1%;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.App .openModalBtn {
  margin: 1% auto;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}
